In [2]:
# Data Processing
import pandas as pd
import seaborn as sns
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import LabelEncoder, OneHotEncoder, MinMaxScaler, StandardScaler
from sklearn.model_selection import train_test_split

# Step 1 : Load dataset (Titanic)
df = sns.load_dataset('titanic')
print("Original Dataset :")
print(df.head())

# Step 2 : Explore data
# Gives the info of datatypes and more
print("\nDataset Info:")
print(df.info())

# Description of dataset
print("\nDescription of dataset :")
print(df.describe())

# Count of total null values present in each cloumn
print("\nMissing Values:")
print(df.isnull().sum())

# Step 3 : Handle missing data
# Drop column with most null values i.e. deck
df.drop(columns = ['deck'], inplace = True)

# Impute numerical column with mean
imputer = SimpleImputer(strategy = 'mean')
df['age'] = imputer.fit_transform(df[['age']])

# Impute categorical column with mode
imputer = SimpleImputer(strategy = 'most_frequent')
df['embarked'] = imputer.fit_transform(df[['embarked']]).ravel()

# Drop missing rows
df.dropna(inplace = True)

print("\nAfter Handling Missing Data:")
print(df.isnull().sum())

# Step 4 : Handle Categorical Variables
# Identify categorical columns
categorical_cols = df.select_dtypes(include = 'object').columns.tolist()
print("\nCategorical Columns:", categorical_cols)

# Apply LabelEncoder
class_order = {'First' : 1, 'Second' : 2, 'Third' : 3}
df['class'] = df['class'].map(class_order)

# Apply OneHOtEncoder
df = pd.get_dummies(df, columns=['sex', 'embarked', 'who'], drop_first=True)
print("\nAfter Encoding Categorical Variables:")
print(df.head())

# Step 5 : Apply Normalization and Standardization
# Identify numerical columns
numerical_cols = df.select_dtypes(include = ['int64', 'float64']).columns.tolist()
print("\nNumerical Columns:", numerical_cols)

scaler = StandardScaler();
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])

print("\nAfter Scaling (StandardScaler):")
print(df[numerical_cols].head())

# Step 6 : Split the dataset
# Define features and target
X = df.drop(columns='survived')
Y = df['survived']

# Split the dataset
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, random_state=42)

print("\nShapes of Train/Test Sets:")
print("X_train:", X_train.shape)
print("X_test:", X_test.shape)
print("y_train:", Y_train.shape)
print("y_test:", Y_test.shape)

Original Dataset :
   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True

Dataset Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
None

Description of dataset :
         survived      pclass         age       sibsp       parch        fare
count  891.000000  891.000000  714.000000  891.000000  891.000000  891.000000
mean     0.383838    2.308642   29.699118    0.523008    0.381594   32.204208
std      0.486592    0.836071   14.526497    1.102743    0.806057   49.693429
min      0.000000    1.000000    0.420000    0.000000    0.000000    0.000000
25%      0.000000    2.000000   20.125000    0.000000    0.000000    7.910400
50%      0.000000    3.000000   28.000000    0.000000    0.000000   14.454200
75%      1.000000    3.000000   38.000000    1.000000    0.000000   31.000000
max      1.000000    3.000000   80.000000    8.000000    6.000000  512.329200

Missing Values:
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64

After Handling Missing Data:
survived       0
pclass         0
sex            0
age            0
sibsp          0
parch          0
fare           0
embarked       0
class          0
who            0
adult_male     0
embark_town    0
alive          0
alone          0
dtype: int64

Categorical Columns: ['sex', 'embarked', 'who', 'embark_town', 'alive']

After Encoding Categorical Variables:
   survived  pclass   age  sibsp  parch     fare class  adult_male  \
0         0       3  22.0      1      0   7.2500     3        True
1         1       1  38.0      1      0  71.2833     1       False
2         1       3  26.0      0      0   7.9250     3       False
3         1       1  35.0      1      0  53.1000     1       False
4         0       3  35.0      0      0   8.0500     3        True

   embark_town alive  alone  sex_male  embarked_Q  embarked_S  who_man  \
0  Southampton    no  False      True       False        True     True
1    Cherbourg   yes  False     False       False       False    False
2  Southampton   yes   True     False       False        True    False
3  Southampton   yes  False     False       False        True    False
4  Southampton    no   True      True       False        True     True

   who_woman
0      False
1       True
2       True
3       True
4      False

Numerical Columns: ['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare']

After Scaling (StandardScaler):
   survived    pclass       age     sibsp     parch      fare
0 -0.786961  0.825209 -0.590495  0.431350 -0.474326 -0.500240
1  1.270711 -1.572211  0.643971  0.431350 -0.474326  0.788947
2  1.270711  0.825209 -0.281878 -0.475199 -0.474326 -0.486650
3  1.270711 -1.572211  0.412509  0.431350 -0.474326  0.422861
4 -0.786961  0.825209  0.412509 -0.475199 -0.474326 -0.484133

Shapes of Train/Test Sets:
X_train: (711, 15)
X_test: (178, 15)
y_train: (711,)
y_test: (178,)